/* screen - contact-submitted */

.border-1-5px-ghost {
  border: 1.5px solid var(--ghost);
}
.border-1px-eerie-black {
  border: 1px solid var(--eerie-black);
}
.contact-submitted {
  align-items: flex-start;
  background-color: var(--zircon);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 779px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 411px;
}
.contact-submitted .back-to-home-iAmnrj {
  background-color: transparent;
  color: var(--white);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 28px;
  position: relative;
  text-align: center;
  width: 173px;
}
.contact-submitted .buttondefault-3wItIJ {
  align-items: center;
  background-color: rgba(39,132,167,1.0);
  border-radius: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 73px;
  justify-content: flex-end;
  margin-top: 40px;
  min-width: 394px;
  padding: 0 109.5px;
  position: relative;
  width: auto;
}
.contact-submitted .cart-GzNxBq {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 36px;
}
.contact-submitted .cart-OlUD7F {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 40px;
}
.contact-submitted .coffeering-6-4eduM0 {
  background-color: transparent;
  height: 450px;
  left: 35px;
  position: absolute;
  top: 342px;
  width: 487px;
}
.contact-submitted .ellipse-5-Z9K9Zx {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.contact-submitted .ellipse-5-rVfCmG {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.contact-submitted .footer-4eduM0 {
  align-items: center;
  background-color: var(--aqua-island);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 76px;
  justify-content: flex-start;
  left: 0px;
  min-width: 411px;
  padding: 0 15.8px;
  position: absolute;
  top: 627px;
  width: auto;
}
.contact-submitted .frame-1456-VdxkZe {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 87px;
  min-width: 96px;
  position: relative;
  width: auto;
}
.contact-submitted .frame-1460-tybepC {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 45px;
  min-width: 132px;
  position: relative;
  width: auto;
}
.contact-submitted .frame-1481-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1px;
  min-height: 627px;
  padding: 24px 0;
  position: absolute;
  top: 0px;
  width: 410px;
}
.contact-submitted .frame-1482-2uV3So {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-start;
  min-width: 395px;
  position: relative;
  width: auto;
}
.contact-submitted .ghosty-png-iCWJuI {
  background-color: transparent;
  height: 144px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 73px;
  width: 79px;
}
.contact-submitted .group-1435-OYjM4x {
  background-color: transparent;
  height: 21px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.contact-submitted .group-1435-PAkmb8 {
  background-color: transparent;
  height: 19px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.contact-submitted .group-1435-iCWJuI {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 60px;
  min-height: 74px;
  position: absolute;
  top: 0px;
  width: 88px;
}
.contact-submitted .group-1461-3wItIJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 217px;
  margin-left: 2.0px;
  margin-top: 40px;
  position: relative;
  width: 196px;
}
.contact-submitted .group-1462-jwfCD7 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  padding: 4.6px 3px;
  position: relative;
  width: auto;
}
.contact-submitted .group-1481-3wItIJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-start;
  min-width: 395px;
  position: relative;
  width: auto;
}
.contact-submitted .group-BFLcep {
  background-color: transparent;
  background-image: url(../img/vector-21@2x.svg);
  background-size: 100% 100%;
  height: 61px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 83px;
}
.contact-submitted .group-Ixo5E8 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 7px;
  justify-content: center;
  margin-top: 0px;
  min-width: 12px;
  position: relative;
  width: auto;
}
.contact-submitted .group-YIkBJx {
  background-color: transparent;
  background-image: url(../img/vector-8@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.contact-submitted .group-wqD5K8 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 27px;
  justify-content: center;
  left: 23px;
  min-width: 33px;
  position: absolute;
  top: 16px;
  width: auto;
}
.contact-submitted .group-yxXt9p {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 9px;
  justify-content: center;
  left: 5px;
  min-width: 17px;
  position: absolute;
  top: 57px;
  width: auto;
}
.contact-submitted .hamurger-menu-pNe5tj {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 52px;
  padding: 0 9.4px;
  position: relative;
  width: auto;
}
.contact-submitted .header-Ma42xY {
  align-items: center;
  background-color: var(--pewter-blue);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-end;
  min-width: 411px;
  padding: 0 9.6px;
  position: relative;
  width: auto;
}
.contact-submitted .icon-cart-w-badge-Xtn5mg {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 44px;
  padding: 0 2px;
  position: relative;
  width: auto;
}
.contact-submitted .icon-cart-w-badge-pNe5tj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  position: relative;
  width: auto;
}
.contact-submitted .icon-instagram-Xtn5mg {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  overflow: hidden;
  padding: 0 7px;
  position: relative;
  width: 44px;
}
.contact-submitted .icon-venmo-Xtn5mg {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 7.2px;
  position: relative;
  width: 44px;
}
.contact-submitted .layer-33-OYjM4x {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 35px;
  position: absolute;
  top: 3px;
  width: 40px;
}
.contact-submitted .layer-33-PAkmb8 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 31px;
  position: absolute;
  top: 3px;
  width: 36px;
}
.contact-submitted .message-received-iCWJuI {
  background-color: transparent;
  color: var(--black);
  font-family: 'Londrina Solid', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 79px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 88px;
  width: auto;
}
.contact-submitted .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 792px;
  margin-top: 0px;
  position: relative;
  width: 522px;
}
.contact-submitted .overlap-group1-Ixo5E8 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 67px;
  position: relative;
  width: 83px;
}
.contact-submitted .roasty-brand-ho-kup-nopadding-1-VdxkZe {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 202px;
}
.contact-submitted .roasty-brand-ho-kup-nopadding-1-tybepC {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 202px;
}
.contact-submitted .send-a-message-M6Zucx {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 26px;
  position: relative;
  text-align: center;
  width: 397px;
}
.contact-submitted .span0-Qneida {
  color: rgba(0,0,0,1.0);
  font-style: normal;
}
.contact-submitted .span1-Qneida {
  color: rgba(0,0,0,1.0);
  font-style: normal;
  letter-spacing: 0.00px;
}
.contact-submitted .span2-Qneida {
  color: rgba(0,0,0,1.0);
  font-style: normal;
  letter-spacing: 0.00px;
  text-decoration: underline;
}
.contact-submitted .span3-Qneida {
  color: rgba(0,0,0,1.0);
  font-style: normal;
  letter-spacing: 0.00px;
}
.contact-submitted .system-header-with-header-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  min-width: 411px;
  position: relative;
  width: auto;
}
.contact-submitted .thank-you-for-c-within-72-hours-3wItIJ {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 40px;
  min-height: 143px;
  position: relative;
  width: 334px;
}
.contact-submitted .union-Vl0mgO {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 33px;
}
.contact-submitted .vector-OvjA3u {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  margin-top: -0.31px;
  position: relative;
  width: 18px;
}
.contact-submitted .vector-P4Wcuk {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-right: -0.5px;
  margin-top: 0px;
  position: relative;
  width: 37px;
}
.contact-submitted .vector-R0xV4g {
  background-color: transparent;
  flex-shrink: 1;
  height: 29px;
  margin-top: -0.79px;
  position: relative;
  width: 33px;
}
.contact-submitted .vector-ScOadP {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.contact-submitted .vector-UZdxRp {
  background-color: transparent;
  flex-shrink: 1;
  height: 7px;
  margin-top: -0.18px;
  position: relative;
  width: 13px;
}
.contact-submitted .vector-bSH92j {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-right: 4.9px;
  margin-top: 0px;
  position: relative;
  width: 20px;
}
.contact-submitted .vector-y8wxUH {
  background-color: transparent;
  flex-shrink: 1;
  height: 9px;
  margin-left: 6.89px;
  margin-top: 0px;
  position: relative;
  width: 23px;
}
.contact-submitted .vector-zvnXLK {
  background-color: transparent;
  flex-shrink: 1;
  height: 27px;
  margin-top: 0px;
  position: relative;
  width: 40px;
}
.contact-submitted .x0-i526682837683832791809-Z9K9Zx {
  background-color: transparent;
  height: 12px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 19px;
}
.contact-submitted .x1-i52668082791898-rVfCmG {
  background-color: transparent;
  height: 13px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 21px;
}
.raleway-black-crimson-20px {
  color: var(--crimson);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.raleway-bold-black-20px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-22px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-light-black-16px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.raleway-light-black-18px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.raleway-medium-black-14px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.raleway-medium-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.raleway-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.raleway-semi-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --aqua-island: rgba(165,202,220,1.0);
  --black: rgba(0,0,0,1.0);
  --crimson: rgba(218,26,64,1.0);
  --eerie-black: rgba(25,24,23,1.0);
  --ghost: rgba(203,203,209,1.0);
  --mercury: rgba(226,226,232,1.0);
  --pewter-blue: rgba(128,165,182,1.0);
  --stack: rgba(139,139,139,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(248,248,255,1.0);
}
