/* screen - catalog-page-all */

.border-1-5px-ghost {
  border: 1.5px solid var(--ghost);
}
.border-1px-eerie-black {
  border: 1px solid var(--eerie-black);
}
.catalog-page-all {
  align-items: flex-start;
  background-color: var(--zircon);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3418px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 411px;
}
.catalog-page-all .add-to-cart-i49-337658893765221-nHQFBF {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 1.5px;
  min-height: 23px;
  min-width: 109px;
  position: relative;
  text-align: center;
  width: auto;
}
.catalog-page-all .add-to-cart-i49-437663813765221-nMmZiF {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 1.5px;
  min-height: 23px;
  min-width: 109px;
  position: relative;
  text-align: center;
  width: auto;
}
.catalog-page-all .add-to-cart-i49-537658893765221-c9zcFM {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 1.5px;
  min-height: 23px;
  min-width: 109px;
  position: relative;
  text-align: center;
  width: auto;
}
.catalog-page-all .add-to-cart-i53-526111063765221-KNbmTh {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 1.5px;
  min-height: 23px;
  min-width: 109px;
  position: relative;
  text-align: center;
  width: auto;
}
.catalog-page-all .add-to-cart-i53888464996167-zUx8ek {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  min-width: 109px;
  position: relative;
  text-align: center;
  width: auto;
}
.catalog-page-all .all-products-iPMCLl {
  background-color: transparent;
  flex-shrink: 1;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 16px;
  min-height: 26px;
  position: relative;
  text-align: center;
  width: 235px;
}
.catalog-page-all .back-0akxwy {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 7px;
  min-height: 16px;
  min-width: 35px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .back-P3tR1g {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 7px;
  min-height: 16px;
  min-width: 35px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .button-add-to-cartdefault-1lsq3r {
  align-items: flex-start;
  background-color: rgba(254,190,45,1.0);
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 62px;
  justify-content: flex-start;
  margin-top: -0.75px;
  min-width: 364px;
  padding: 8px 102px;
  position: relative;
  width: auto;
}
.catalog-page-all .button-add-to-cartdefault-UCq5OI {
  align-items: flex-start;
  background-color: rgba(254,190,45,1.0);
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 62px;
  justify-content: flex-start;
  margin-top: -0.75px;
  min-width: 364px;
  padding: 8px 102px;
  position: relative;
  width: auto;
}
.catalog-page-all .button-add-to-cartdefault-ZwgtNv {
  align-items: flex-start;
  background-color: rgba(254,190,45,1.0);
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 62px;
  justify-content: flex-start;
  margin-top: -0.75px;
  min-width: 364px;
  padding: 8px 102px;
  position: relative;
  width: auto;
}
.catalog-page-all .button-add-to-cartdefault-mysnvh {
  align-items: flex-start;
  background-color: rgba(254,190,45,1.0);
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 62px;
  justify-content: flex-start;
  margin-top: -0.75px;
  min-width: 364px;
  padding: 8px 102px;
  position: relative;
  width: auto;
}
.catalog-page-all .buttondefault-m9ZpRj {
  align-items: center;
  background-color: rgba(254,190,45,1.0);
  border-radius: 32px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: flex-start;
  min-width: 363px;
  padding: 0 102px;
  position: relative;
  width: auto;
}
.catalog-page-all .cart-8u8cwu {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 33px;
}
.catalog-page-all .cart-GzNxBq {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 36px;
}
.catalog-page-all .cart-JrS7WO {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 33px;
}
.catalog-page-all .cart-Kkd6W4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 33px;
}
.catalog-page-all .cart-Vf0Hy8 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 13px;
  justify-content: flex-start;
  margin-left: 1px;
  margin-top: 0.0px;
  min-width: 18px;
  position: relative;
  width: auto;
}
.catalog-page-all .cart-ZcC27m {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 33px;
}
.catalog-page-all .cart-fxoTGM {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 40px;
}
.catalog-page-all .cart-xVk0bB {
  background-color: transparent;
  flex-shrink: 1;
  height: 32px;
  position: relative;
  width: 33px;
}
.catalog-page-all .coffeering-1-4eduM0 {
  background-color: transparent;
  height: 496px;
  left: 56px;
  position: absolute;
  top: 354px;
  width: 366px;
}
.catalog-page-all .coffeering-2-4eduM0 {
  background-color: transparent;
  height: 496px;
  left: 0px;
  position: absolute;
  top: 1371px;
  width: 366px;
}
.catalog-page-all .cold-brewed-coffeedscf9691-2-6jXU0D {
  background-color: transparent;
  height: 256px;
  left: 69px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 225px;
}
.catalog-page-all .cold-brewed-coffeedscf9691-2-B6Tl7y {
  background-color: transparent;
  flex-shrink: 1;
  height: 256px;
  object-fit: cover;
  position: relative;
  width: 225px;
}
.catalog-page-all .coldbrew-growler-and-class-1-REBFvj {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 256px;
  margin-right: 1.5px;
  margin-top: 16px;
  object-fit: cover;
  position: relative;
  width: 153px;
}
.catalog-page-all .ellipse-5-7Mdwe3 {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.catalog-page-all .ellipse-5-SQ5Vnn {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.catalog-page-all .ellipse-5-Z9K9Zx {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.catalog-page-all .ellipse-5-aCtXLx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.catalog-page-all .ellipse-5-dMMZ37 {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.catalog-page-all .ellipse-5-uUDhDP {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.catalog-page-all .ellipse-5-vJWSTO {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 18px;
}
.catalog-page-all .footer-C61RwL {
  align-items: center;
  background-color: var(--aqua-island);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 411px;
  padding: 0 15.8px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1456-VdxkZe {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 87px;
  min-width: 96px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1460-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 45px;
  min-width: 132px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1473-REBFvj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 379px;
  padding: 0 7.2px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1473-czBxwR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: center;
  margin-top: 16px;
  min-width: 363px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1473-xUTbds {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 379px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1473-xtxVBY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: center;
  margin-top: 16px;
  min-width: 363px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1473-yiKkTc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: center;
  margin-top: 16px;
  min-width: 363px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1474-REBFvj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 379px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1474-Zfc2lD {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 22px;
  min-height: 72px;
  position: relative;
  width: 68px;
}
.catalog-page-all .frame-1474-czBxwR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 363px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1474-ex4jh6 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 40px;
  min-height: 72px;
  position: relative;
  width: 66px;
}
.catalog-page-all .frame-1474-juSqpU {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 6px;
  min-height: 72px;
  position: relative;
  width: 100px;
}
.catalog-page-all .frame-1474-ka2SlR {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 6px;
  min-height: 72px;
  position: relative;
  width: 100px;
}
.catalog-page-all .frame-1474-n8PpzB {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 6px;
  min-height: 72px;
  position: relative;
  width: 100px;
}
.catalog-page-all .frame-1474-xUTbds {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 379px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1474-xtxVBY {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 363px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1474-yiKkTc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 72px;
  justify-content: flex-start;
  min-width: 363px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1482-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 30px;
  min-height: 3266px;
  padding: 16px 0;
  position: absolute;
  top: 0px;
  width: 395px;
}
.catalog-page-all .frame-1487-I0rYte {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-end;
  min-width: 57px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1488-I0rYte {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 220px;
  min-width: 85px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1488-iPMCLl {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 26px;
  justify-content: flex-end;
  min-width: 57px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1492-czBxwR {
  align-items: center;
  background-color: rgba(157,34,53,1.0);
  background-image: url(../img/frame-1492-1@2x.svg);
  background-size: 100% 100%;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 272px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 363px;
  padding: 0 19px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1493-6jXU0D {
  background-color: transparent;
  height: 272px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 363px;
}
.catalog-page-all .frame-1493-xtxVBY {
  background-color: rgba(191,150,226,1.0);
  border-radius: 16px;
  flex-shrink: 1;
  height: 272px;
  margin-top: 16px;
  position: relative;
  width: 363px;
}
.catalog-page-all .frame-1493-yiKkTc {
  align-items: center;
  background-color: rgba(39,132,167,1.0);
  background-image: url(../img/frame-1493-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 272px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 363px;
  padding: 0 69px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1522-nsYLhs {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 395px;
  padding: 0 16px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1527-nsYLhs {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 395px;
  padding: 0 83.5px;
  position: relative;
  width: auto;
}
.catalog-page-all .frame-1528-nsYLhs {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 395px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.catalog-page-all .group-1420-xndzpw {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 184px;
  min-width: 44px;
  position: absolute;
  top: 0px;
  transform: rotate(90.00deg);
  width: auto;
}
.catalog-page-all .group-1435-ELz7TN {
  background-color: transparent;
  height: 17px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.catalog-page-all .group-1435-GxUhNu {
  background-color: transparent;
  height: 17px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.catalog-page-all .group-1435-PAkmb8 {
  background-color: transparent;
  height: 19px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.catalog-page-all .group-1435-UEgQQH {
  background-color: transparent;
  height: 17px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.catalog-page-all .group-1435-VqcF04 {
  background-color: transparent;
  height: 17px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.catalog-page-all .group-1435-hwLRvJ {
  background-color: transparent;
  height: 17px;
  left: 11px;
  position: absolute;
  top: 0px;
  width: 19px;
}
.catalog-page-all .group-1435-oGP2bB {
  background-color: transparent;
  height: 21px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.catalog-page-all .group-1462-jwfCD7 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  padding: 4.6px 3px;
  position: relative;
  width: auto;
}
.catalog-page-all .group-nkO7wM {
  background-color: transparent;
  background-image: url(../img/vector-136@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.catalog-page-all .hamburgeritem-yxhYJE {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  position: relative;
  width: 228px;
}
.catalog-page-all .hamurger-menu-pNe5tj {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 52px;
  padding: 0 9.4px;
  position: relative;
  width: auto;
}
.catalog-page-all .header-Ma42xY {
  align-items: center;
  background-color: var(--pewter-blue);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-end;
  min-width: 411px;
  padding: 0 9.6px;
  position: relative;
  width: auto;
}
.catalog-page-all .hoodie-roasty-black-4-xUTbds {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 256px;
  margin-right: 1.5px;
  margin-top: 16px;
  object-fit: cover;
  position: relative;
  width: 183px;
}
.catalog-page-all .icon-cart-add-KNbmTh {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 6px;
  min-width: 44px;
  padding: 0 5.3px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-cart-add-c9zcFM {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 6px;
  min-width: 44px;
  padding: 0 5.3px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-cart-add-nHQFBF {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 6px;
  min-width: 44px;
  padding: 0 5.3px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-cart-add-nMmZiF {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 6px;
  min-width: 44px;
  padding: 0 5.3px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-cart-add-zUx8ek {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 6px;
  min-width: 44px;
  padding: 0 5.3px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-cart-w-badge-M6YXpf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 44px;
  padding: 0 2px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-cart-w-badge-pNe5tj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  position: relative;
  width: auto;
}
.catalog-page-all .icon-instagram-M6YXpf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  overflow: hidden;
  padding: 0 7px;
  position: relative;
  width: 44px;
}
.catalog-page-all .icon-venmo-M6YXpf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 7.2px;
  position: relative;
  width: 44px;
}
.catalog-page-all .layer-33-0yv894 {
  background-color: transparent;
  flex-shrink: 1;
  height: 11px;
  position: relative;
  width: 14px;
}
.catalog-page-all .layer-33-ELz7TN {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 29px;
  position: absolute;
  top: 3px;
  width: 33px;
}
.catalog-page-all .layer-33-GxUhNu {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 29px;
  position: absolute;
  top: 3px;
  width: 33px;
}
.catalog-page-all .layer-33-PAkmb8 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 31px;
  position: absolute;
  top: 3px;
  width: 36px;
}
.catalog-page-all .layer-33-UEgQQH {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 29px;
  position: absolute;
  top: 3px;
  width: 33px;
}
.catalog-page-all .layer-33-VqcF04 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 29px;
  position: absolute;
  top: 3px;
  width: 33px;
}
.catalog-page-all .layer-33-hwLRvJ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 29px;
  position: absolute;
  top: 3px;
  width: 33px;
}
.catalog-page-all .layer-33-oGP2bB {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 35px;
  position: absolute;
  top: 3px;
  width: 40px;
}
.catalog-page-all .mongolian-cold-i49961533394113-ka2SlR {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 52px;
  position: relative;
  text-align: left;
  width: 257px;
}
.catalog-page-all .mongolian-cold-i49961553394113-n8PpzB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 52px;
  position: relative;
  text-align: left;
  width: 257px;
}
.catalog-page-all .mongolian-origi-i49961543433813-Zfc2lD {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 52px;
  position: relative;
  text-align: left;
  width: 257px;
}
.catalog-page-all .our-offerings-xndzpw {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: auto;
}
.catalog-page-all .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 3266px;
  margin-left: -22px;
  margin-top: 0px;
  position: relative;
  width: 425px;
}
.catalog-page-all .polygon-10-LcISIA {
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  margin-bottom: -8.11px;
  position: relative;
  transform: rotate(-90.00deg);
  width: 23px;
}
.catalog-page-all .product-cold-brew-VSqODQ {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -0.75px;
  margin-top: 14px;
  min-height: 502px;
  padding: 16px;
  position: relative;
  width: 396px;
}
.catalog-page-all .product-cold-brew-nsYLhs {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -0.75px;
  margin-top: 14px;
  min-height: 502px;
  padding: 16px;
  position: relative;
  width: 396px;
}
.catalog-page-all .product-subscription-nsYLhs {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -0.75px;
  margin-top: 14px;
  min-height: 486px;
  padding: 16px 8px;
  position: relative;
  width: 396px;
}
.catalog-page-all .productbean-VSqODQ {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -0.75px;
  margin-top: 14px;
  min-height: 502px;
  padding: 16px;
  position: relative;
  width: 396px;
}
.catalog-page-all .productbean-nsYLhs {
  background-color: transparent;
  flex-shrink: 1;
  height: 502px;
  margin-left: -1px;
  margin-top: 15px;
  position: relative;
  width: 397px;
}
.catalog-page-all .producthoodie-nsYLhs {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: -0.75px;
  margin-top: 14px;
  min-height: 486px;
  padding: 16px 8px;
  position: relative;
  width: 396px;
}
.catalog-page-all .rectangle-662-4eduM0 {
  background-color: transparent;
  height: 1px;
  left: 212px;
  position: absolute;
  top: 246px;
  width: 1px;
}
.catalog-page-all .roasty-bean-bag-transparentbg-1-Sokmff {
  background-color: transparent;
  flex-shrink: 1;
  height: 256px;
  position: relative;
  width: 325px;
}
.catalog-page-all .roasty-brand-ho-kup-nopadding-1-VdxkZe {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 202px;
}
.catalog-page-all .roasty-brand-ho-kup-nopadding-1-iPe1yZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 202px;
}
.catalog-page-all .roasty-ghost-th-i53888464996158-ex4jh6 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 52px;
  position: relative;
  text-align: left;
  width: 257px;
}
.catalog-page-all .roastys-blend-c-538880552611098-juSqpU {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 52px;
  position: relative;
  text-align: left;
  width: 257px;
}
.catalog-page-all .smlxl-i53888464996161-Kmt7Li {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 19px;
  min-width: 68px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .system-header-with-header-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  min-width: 411px;
  position: relative;
  width: auto;
}
.catalog-page-all .tap-image-for-m-538880552611104-REBFvj {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 0.5px;
  margin-top: 16px;
  min-height: 16px;
  min-width: 156px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .tap-image-for-m-i49961533394119-xtxVBY {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 0.5px;
  margin-top: 16px;
  min-height: 16px;
  min-width: 156px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .tap-image-for-m-i49961543433841-czBxwR {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 0.5px;
  margin-top: 16px;
  min-height: 16px;
  min-width: 156px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .tap-image-for-m-i49961553394119-yiKkTc {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 0.5px;
  margin-top: 16px;
  min-height: 16px;
  min-width: 156px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .tap-image-for-m-i53888464996164-xUTbds {
  align-self: center;
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 0.5px;
  margin-top: 16px;
  min-height: 16px;
  min-width: 156px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .text-i49961543433840-171GGZ {
  background-color: transparent;
  color: var(--crimson);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 16px;
  min-width: 2px;
  position: relative;
  text-align: left;
  width: auto;
}
.catalog-page-all .text-i53888464996162-Kmt7Li {
  background-color: transparent;
  color: var(--crimson);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 16px;
  min-width: 2px;
  position: relative;
  text-align: left;
  width: auto;
}
.catalog-page-all .union-Vl0mgO {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 33px;
}
.catalog-page-all .vector-0akxwy {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-7DlNCG {
  background-color: transparent;
  flex-shrink: 1;
  height: 7px;
  margin-right: 4.86px;
  margin-top: 0px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-9jgcJL {
  background-color: transparent;
  flex-shrink: 1;
  height: 7px;
  margin-right: 4.86px;
  margin-top: 0px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-BHrGN0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 27px;
  margin-top: 0px;
  position: relative;
  width: 40px;
}
.catalog-page-all .vector-CSCTIe {
  background-color: transparent;
  flex-shrink: 1;
  height: 7px;
  margin-right: 4.86px;
  margin-top: 0px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-J9Aapx {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-right: -0.26px;
  margin-top: 0px;
  position: relative;
  width: 34px;
}
.catalog-page-all .vector-P3tR1g {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-P4Wcuk {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-right: -0.5px;
  margin-top: 0px;
  position: relative;
  width: 37px;
}
.catalog-page-all .vector-QbCzm6 {
  background-color: transparent;
  flex-shrink: 1;
  height: 7px;
  margin-right: 4.86px;
  margin-top: 0px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-XYf3pI {
  background-color: transparent;
  flex-shrink: 1;
  height: 9px;
  margin-left: 6.89px;
  margin-top: 0px;
  position: relative;
  width: 23px;
}
.catalog-page-all .vector-aEOU95 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-right: -0.26px;
  margin-top: 0px;
  position: relative;
  width: 34px;
}
.catalog-page-all .vector-bSH92j {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-right: 4.9px;
  margin-top: 0px;
  position: relative;
  width: 20px;
}
.catalog-page-all .vector-jeJ2C5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-right: -0.26px;
  margin-top: 0px;
  position: relative;
  width: 34px;
}
.catalog-page-all .vector-lbmHfJ {
  background-color: transparent;
  height: 10px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 15px;
}
.catalog-page-all .vector-nTHUJg {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-right: -0.26px;
  margin-top: 0px;
  position: relative;
  width: 34px;
}
.catalog-page-all .vector-poOdUX {
  background-color: transparent;
  height: 4px;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 8px;
}
.catalog-page-all .vector-sZWs8P {
  background-color: transparent;
  flex-shrink: 1;
  height: 7px;
  margin-right: 4.86px;
  margin-top: 0px;
  position: relative;
  width: 18px;
}
.catalog-page-all .vector-vldh39 {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.catalog-page-all .vector-zbzLdN {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-right: -0.26px;
  margin-top: 0px;
  position: relative;
  width: 34px;
}
.catalog-page-all .view-cart-Vf0Hy8 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 66px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.catalog-page-all .x-i4996153376588937652223021650-dMMZ37 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  height: 11px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 18px;
}
.catalog-page-all .x-i4996154376638137652223021650-vJWSTO {
  background-color: transparent;
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  height: 11px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 18px;
}
.catalog-page-all .x-i4996155376588937652223021650-uUDhDP {
  background-color: transparent;
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  height: 11px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 18px;
}
.catalog-page-all .x-i5388805526111-637652223021650-7Mdwe3 {
  background-color: transparent;
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  height: 11px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 18px;
}
.catalog-page-all .x-i538884649961683021650-SQ5Vnn {
  background-color: transparent;
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  height: 11px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3px;
  width: 18px;
}
.catalog-page-all .x-pickup-only-i49961533394117-t3xcMN {
  background-color: transparent;
  color: var(--crimson);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 16px;
  min-width: 89px;
  position: relative;
  text-align: left;
  width: auto;
}
.catalog-page-all .x-pickup-only-i49961553394117-ek2k9Q {
  background-color: transparent;
  color: var(--crimson);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 16px;
  min-width: 89px;
  position: relative;
  text-align: left;
  width: auto;
}
.catalog-page-all .x0-i499617037683832791809-Z9K9Zx {
  background-color: transparent;
  height: 12px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 19px;
}
.catalog-page-all .x1-i49961692791898-aCtXLx {
  background-color: transparent;
  height: 13px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 21px;
}
.catalog-page-all .x12-oz-bag-i49961543433839-171GGZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 19px;
  min-width: 70px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x2067-i49961543433838-171GGZ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 57px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x3067-i49961533394115-t3xcMN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x3067-i49961553394115-ek2k9Q {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x3067-i538880552611100-ZVbFz2 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x6000-i53888464996160-Kmt7Li {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 21px;
  min-width: 61px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x64oz-growler-i49961533394116-t3xcMN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 19px;
  min-width: 102px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x64oz-growler-i49961553394116-ek2k9Q {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 19px;
  min-width: 102px;
  position: relative;
  text-align: right;
  width: auto;
}
.catalog-page-all .x64oz-growler-i538880552611101-ZVbFz2 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 19px;
  min-width: 102px;
  position: relative;
  text-align: right;
  width: auto;
}
.raleway-black-crimson-20px {
  color: var(--crimson);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.raleway-bold-black-20px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-22px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-light-black-16px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.raleway-light-black-18px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.raleway-medium-black-14px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.raleway-medium-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.raleway-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.raleway-semi-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --aqua-island: rgba(165,202,220,1.0);
  --black: rgba(0,0,0,1.0);
  --crimson: rgba(218,26,64,1.0);
  --eerie-black: rgba(25,24,23,1.0);
  --ghost: rgba(203,203,209,1.0);
  --mercury: rgba(226,226,232,1.0);
  --pewter-blue: rgba(128,165,182,1.0);
  --stack: rgba(139,139,139,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(248,248,255,1.0);
}
