/* screen - checkout-review */

.border-1-5px-ghost {
  border: 1.5px solid var(--ghost);
}
.border-1px-eerie-black {
  border: 1px solid var(--eerie-black);
}
.checkout-review {
  align-items: flex-start;
  background-color: var(--zircon);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1396px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 411px;
}
.checkout-review .back-xk3RFq {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 7px;
  min-height: 16px;
  min-width: 35px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.checkout-review .bean-counter4-NDnW0D {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-end;
  margin-left: 57px;
  min-width: 150px;
  padding: 3.0px 2.0px;
  position: relative;
  width: auto;
}
.checkout-review .buttondefault-8kRjxt {
  background-color: transparent;
  flex-shrink: 1;
  height: 60px;
  position: relative;
  width: 378px;
}
.checkout-review .buttondefault-UCYn6g {
  background-color: transparent;
  flex-shrink: 1;
  height: 55px;
  position: relative;
  width: 184px;
}
.checkout-review .cart-GzNxBq {
  background-color: transparent;
  flex-shrink: 1;
  height: 34px;
  position: relative;
  width: 36px;
}
.checkout-review .cart-cart-item-beans-3wItIJ {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 120px;
  justify-content: flex-start;
  margin-top: 14px;
  min-width: 380px;
  padding: 8px;
  position: relative;
  width: auto;
}
.checkout-review .cart-cart-item-cold-brew-3wItIJ {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 120px;
  justify-content: flex-start;
  margin-top: 15px;
  min-width: 380px;
  padding: 8px;
  position: relative;
  width: auto;
}
.checkout-review .cart-fxoTGM {
  background-color: transparent;
  flex-shrink: 1;
  height: 38px;
  position: relative;
  width: 40px;
}
.checkout-review .ccv-MdSa1v {
  background-color: transparent;
  color: var(--eerie-black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 31px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.checkout-review .checkout-m9wcUB {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: -8.5px;
  min-height: 26px;
  position: relative;
  text-align: center;
  width: 397px;
}
.checkout-review .coffeering-4-4eduM0 {
  background-color: transparent;
  height: 436px;
  left: 84px;
  position: absolute;
  top: 108px;
  width: 231px;
}
.checkout-review .cold-brewed-coffeedscf9691-2-n8EtBQ {
  background-color: transparent;
  flex-shrink: 1;
  height: 80px;
  object-fit: cover;
  position: relative;
  width: 71px;
}
.checkout-review .columbian-blend-i53884925357846-x72dnA {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  min-height: 46px;
  position: relative;
  text-align: left;
  transform: rotate(-180deg);
  width: 178px;
}
.checkout-review .credit-card-number-XZCpQP {
  background-color: transparent;
  color: var(--eerie-black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 397px;
}
.checkout-review .ellipse-5-Z9K9Zx {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 20px;
}
.checkout-review .ellipse-5-aCtXLx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.checkout-review .exp-date-URNB7C {
  background-color: transparent;
  color: var(--eerie-black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  min-width: 63px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: auto;
}
.checkout-review .field-3-by-2Huewj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 16px;
  min-height: 43px;
  position: relative;
  width: 190px;
}
.checkout-review .field-3-by-x0Cqxb {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 43px;
  position: relative;
  width: 190px;
}
.checkout-review .final-order-review-3wItIJ {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 16px;
  min-height: 20px;
  position: relative;
  text-align: left;
  width: 380px;
}
.checkout-review .footer-C61RwL {
  align-items: center;
  background-color: var(--aqua-island);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 411px;
  padding: 0 15.8px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1456-VdxkZe {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 87px;
  min-width: 96px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1460-iPe1yZ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 45px;
  min-width: 132px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1474-3wItIJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 60px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 378px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1474-Laprkp {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 102px;
  justify-content: flex-start;
  min-width: 362px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1474-cHxgAH {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 102px;
  justify-content: flex-start;
  min-width: 362px;
  padding: 0 8px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1481-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 1220px;
  padding: 16px 0;
  position: absolute;
  top: 0px;
  width: 410px;
}
.checkout-review .frame-1481-UCYn6g {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 116px;
  justify-content: flex-start;
  margin-left: 37px;
  min-width: 156px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1482-3wItIJ {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 116px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 393px;
  padding: 0 7.5px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1482-CBaooc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: center;
  margin-left: 8px;
  min-height: 85px;
  position: relative;
  width: 70px;
}
.checkout-review .frame-1483-4tdbwG {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-top: 2px;
  min-width: 229px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1483-9xrhok {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  margin-top: 2px;
  min-width: 228px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1483-CBaooc {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 116px;
  position: relative;
  width: 78px;
}
.checkout-review .frame-1483-jG0hUa {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  min-width: 228px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1483-jHmZMB {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 21px;
  justify-content: flex-start;
  min-width: 229px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1484-BsPjuc {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 8px;
  min-height: 102px;
  padding: 6px 0;
  position: relative;
  width: 229px;
}
.checkout-review .frame-1484-L160H7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 43px;
  position: relative;
  width: 395px;
}
.checkout-review .frame-1484-N1Rb2A {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-end;
  min-width: 44px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1484-PiHayh {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 8px;
  min-height: 102px;
  padding: 6px 0;
  position: relative;
  width: 228px;
}
.checkout-review .frame-1484-SJBh2n {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 16px;
  justify-content: flex-end;
  min-width: 44px;
  padding: 0 5.5px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1484-zvKY20 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 43px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 395px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1485-4tdbwG {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 46px;
  justify-content: flex-start;
  min-width: 229px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1485-9xrhok {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 46px;
  justify-content: flex-start;
  min-width: 228px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1485-L160H7 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 16px;
  min-height: 43px;
  position: relative;
  width: 395px;
}
.checkout-review .frame-1486-2UkCxo {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 14px;
  min-height: 200px;
  position: relative;
  width: 404px;
}
.checkout-review .frame-1486-3wItIJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-top: 15px;
  min-height: 108px;
  position: relative;
  width: 378px;
}
.checkout-review .frame-1486-JALou7 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-right: -7px;
  margin-top: 16px;
  min-height: 161px;
  position: relative;
  width: 395px;
}
.checkout-review .frame-1488-NDnW0D {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 30px;
  justify-content: flex-end;
  min-width: 57px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1489-LOwCl8 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  padding: 0 12px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1489-x72dnA {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  padding: 0 12px;
  position: relative;
  transform: rotate(180deg);
  width: auto;
}
.checkout-review .frame-1492-PiHayh {
  align-items: center;
  background-color: rgba(180,218,26,1.0);
  background-image: url(../img/frame-1492-2@2x.svg);
  background-size: 100% 100%;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 88px;
  justify-content: flex-start;
  min-width: 110px;
  padding: 0 3.8px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1493-BsPjuc {
  align-items: center;
  background-color: rgba(191,150,226,1.0);
  background-image: url(../img/frame-1493-3@2x.svg);
  background-size: 100% 100%;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 96px;
  justify-content: flex-start;
  min-width: 109px;
  padding: 0 19px;
  position: relative;
  width: auto;
}
.checkout-review .frame-1507-3wItIJ {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 88px;
  position: relative;
  width: 378px;
}
.checkout-review .frame-1526-m9wcUB {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 46px;
  justify-content: flex-start;
  margin-top: 16px;
  min-width: 378px;
  position: relative;
  width: auto;
}
.checkout-review .group-1435-PAkmb8 {
  background-color: transparent;
  height: 19px;
  left: 12px;
  position: absolute;
  top: 0px;
  width: 21px;
}
.checkout-review .group-1435-oGP2bB {
  background-color: transparent;
  height: 21px;
  left: 13px;
  position: absolute;
  top: 0px;
  width: 23px;
}
.checkout-review .group-1462-jwfCD7 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  padding: 4.6px 3px;
  position: relative;
  width: auto;
}
.checkout-review .group-nkO7wM {
  background-color: transparent;
  background-image: url(../img/vector-8@2x.svg);
  background-size: 100% 100%;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.checkout-review .hamurger-menu-pNe5tj {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 52px;
  padding: 0 9.4px;
  position: relative;
  width: auto;
}
.checkout-review .header-Ma42xY {
  align-items: center;
  background-color: var(--pewter-blue);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-end;
  min-width: 411px;
  padding: 0 9.6px;
  position: relative;
  width: auto;
}
.checkout-review .icon-cart-w-badge-M6YXpf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 44px;
  padding: 0 2px;
  position: relative;
  width: auto;
}
.checkout-review .icon-cart-w-badge-pNe5tj {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  min-width: 44px;
  position: relative;
  width: auto;
}
.checkout-review .icon-instagram-M6YXpf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  margin-left: 0px;
  overflow: hidden;
  padding: 0 7px;
  position: relative;
  width: 44px;
}
.checkout-review .icon-venmo-M6YXpf {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 44px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 7.2px;
  position: relative;
  width: 44px;
}
.checkout-review .layer-33-PAkmb8 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 31px;
  position: absolute;
  top: 3px;
  width: 36px;
}
.checkout-review .layer-33-oGP2bB {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: -0px;
  min-height: 35px;
  position: absolute;
  top: 3px;
  width: 40px;
}
.checkout-review .map-3wItIJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 226px;
  margin-top: 16px;
  position: relative;
  width: 380px;
}
.checkout-review .name-on-card-u3zRp1 {
  background-color: transparent;
  color: var(--eerie-black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 16px;
  position: relative;
  text-align: left;
  text-decoration: underline;
  width: 397px;
}
.checkout-review .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1220px;
  margin-top: 24px;
  position: relative;
  width: 410px;
}
.checkout-review .payment-information-JALou7 {
  background-color: transparent;
  color: var(--eerie-black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 16px;
  min-height: 23px;
  min-width: 209px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .pickup-location-for-these-items-7LWbcG {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 396px;
}
.checkout-review .quantity-1-i53884755357930-aGyx8P {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  min-width: 42px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .quantity-1-i53884925357853-Gecbd0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  min-width: 42px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .roasty-bean-bag-transparentbg-1-Zss77g {
  background-color: transparent;
  flex-shrink: 1;
  height: 80px;
  position: relative;
  width: 102px;
}
.checkout-review .roasty-brand-ho-kup-nopadding-1-VdxkZe {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 202px;
}
.checkout-review .roasty-brand-ho-kup-nopadding-1-iPe1yZ {
  background-color: transparent;
  flex-shrink: 1;
  height: 44px;
  object-fit: cover;
  position: relative;
  width: 202px;
}
.checkout-review .roastys-blend-c-i53884755357927-LOwCl8 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 8px;
  min-height: 46px;
  position: relative;
  text-align: left;
  transform: rotate(-180deg);
  width: 179px;
}
.checkout-review .shaun-bean-u3zRp1 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 4px;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 397px;
}
.checkout-review .sold-out-at-mol-i53884755357933-4tdbwG {
  background-color: transparent;
  color: var(--crimson);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 2px;
  min-height: 19px;
  position: relative;
  text-align: left;
  width: 231px;
}
.checkout-review .sold-out-at-mol-i53884925357916-9xrhok {
  background-color: transparent;
  color: transparent;
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 2px;
  min-height: 19px;
  position: relative;
  text-align: left;
  width: 230px;
}
.checkout-review .span0-iZL29K {
  color: rgba(0,0,0,1.0);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.checkout-review .span1-iZL29K {
  color: rgba(0,0,0,1.0);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.checkout-review .subtotal-63ZxvN {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -2px;
  min-height: 23px;
  min-width: 80px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .system-header-with-header-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 76px;
  justify-content: flex-start;
  min-width: 411px;
  position: relative;
  width: auto;
}
.checkout-review .taxes-63ZxvN {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -2px;
  margin-top: 8px;
  min-height: 23px;
  min-width: 55px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .taxes-TiU9Nz {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -2px;
  margin-top: 8px;
  min-height: 23px;
  min-width: 55px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .total-63ZxvN {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: -2px;
  margin-top: 8px;
  min-height: 23px;
  min-width: 50px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .union-3uYEra {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  transform: rotate(-180deg);
  width: 20px;
}
.checkout-review .union-OWUbSh {
  background-color: transparent;
  flex-shrink: 1;
  height: 20px;
  position: relative;
  transform: rotate(-180deg);
  width: 20px;
}
.checkout-review .union-Vl0mgO {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  position: relative;
  width: 33px;
}
.checkout-review .vector-BHrGN0 {
  background-color: transparent;
  flex-shrink: 1;
  height: 27px;
  margin-top: 0px;
  position: relative;
  width: 40px;
}
.checkout-review .vector-I0Md1W {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-bottom: 0.0px;
  margin-left: 6px;
  position: relative;
  width: 24px;
}
.checkout-review .vector-P4Wcuk {
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-right: -0.5px;
  margin-top: 0px;
  position: relative;
  width: 37px;
}
.checkout-review .vector-PEPU8w {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-bottom: 0.0px;
  margin-left: 5px;
  position: relative;
  width: 24px;
}
.checkout-review .vector-XYf3pI {
  background-color: transparent;
  flex-shrink: 1;
  height: 9px;
  margin-left: 6.89px;
  margin-top: 0px;
  position: relative;
  width: 23px;
}
.checkout-review .vector-bSH92j {
  background-color: transparent;
  flex-shrink: 1;
  height: 8px;
  margin-right: 4.9px;
  margin-top: 0px;
  position: relative;
  width: 20px;
}
.checkout-review .vector-hMbsqD {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 24px;
  margin-left: 5px;
  position: relative;
  width: 26px;
}
.checkout-review .vector-o2hruX {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-bottom: 0.0px;
  margin-left: 5px;
  position: relative;
  width: 24px;
}
.checkout-review .vector-pWxunY {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  margin-bottom: 0.0px;
  position: relative;
  width: 24px;
}
.checkout-review .vector-vldh39 {
  background-color: transparent;
  flex-shrink: 1;
  height: 30px;
  position: relative;
  width: 30px;
}
.checkout-review .vector-xk3RFq {
  background-color: transparent;
  flex-shrink: 1;
  height: 10px;
  position: relative;
  width: 18px;
}
.checkout-review .x-5280-XZCpQP {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 4px;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 397px;
}
.checkout-review .x0-i376880937683832791809-Z9K9Zx {
  background-color: transparent;
  height: 12px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 19px;
}
.checkout-review .x0528-N1Rb2A {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 4px;
  min-height: 23px;
  min-width: 60px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .x1-i36052842791898-aCtXLx {
  background-color: transparent;
  height: 13px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 21px;
}
.checkout-review .x125-x52oAw {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 24px;
  position: relative;
  text-align: right;
  width: 56px;
}
.checkout-review .x125-xQRP2z {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 24px;
  position: relative;
  text-align: right;
  width: 56px;
}
.checkout-review .x12oz-bag-i53884925357854-Gecbd0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 30px;
  min-height: 19px;
  min-width: 70px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .x2067-i53884925357855-Gecbd0 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 30px;
  min-height: 21px;
  min-width: 57px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .x3067-i53884755357932-aGyx8P {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 16px;
  min-height: 21px;
  min-width: 58px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .x5280-SJBh2n {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 4px;
  min-height: 23px;
  min-width: 48px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .x6067-x52oAw {
  background-color: transparent;
  color: var(--black);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 19px;
  position: relative;
  text-align: right;
  width: 70px;
}
.checkout-review .x6192-x52oAw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 8px;
  min-height: 24px;
  position: relative;
  text-align: right;
  width: 72px;
}
.checkout-review .x64oz-growler-i53884755357931-aGyx8P {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 16px;
  min-height: 19px;
  min-width: 99px;
  position: relative;
  text-align: left;
  width: auto;
}
.checkout-review .z-cycles-1400-o-denver-co-80121-7LWbcG {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 16px;
  min-height: 69px;
  position: relative;
  width: 234px;
}
.raleway-black-crimson-20px {
  color: var(--crimson);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.raleway-bold-black-20px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-22px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-light-black-16px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.raleway-light-black-18px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.raleway-medium-black-14px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.raleway-medium-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.raleway-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.raleway-semi-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --aqua-island: rgba(165,202,220,1.0);
  --black: rgba(0,0,0,1.0);
  --crimson: rgba(218,26,64,1.0);
  --eerie-black: rgba(25,24,23,1.0);
  --ghost: rgba(203,203,209,1.0);
  --mercury: rgba(226,226,232,1.0);
  --pewter-blue: rgba(128,165,182,1.0);
  --stack: rgba(139,139,139,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(248,248,255,1.0);
}
