/* screen - hamburger-condensed */

.border-1-5px-ghost {
  border: 1.5px solid var(--ghost);
}
.border-1px-eerie-black {
  border: 1px solid var(--eerie-black);
}
.hamburger-condensed {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 1011px;
  justify-content: flex-start;
  min-width: 241px;
  overflow-x: hidden;
  position: relative;
  width: auto;
}
.hamburger-condensed .frame-1535-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 1011px;
  justify-content: flex-start;
  min-width: 241px;
  padding: 170.7px 0;
  position: relative;
  width: auto;
}
.hamburger-condensed .menu-rDMiKW {
  background-color: transparent;
  flex-shrink: 1;
  height: 457px;
  position: relative;
  width: 241px;
}
.raleway-black-crimson-20px {
  color: var(--crimson);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.raleway-bold-black-20px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-22px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-light-black-16px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.raleway-light-black-18px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.raleway-medium-black-14px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.raleway-medium-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.raleway-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.raleway-semi-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --aqua-island: rgba(165,202,220,1.0);
  --black: rgba(0,0,0,1.0);
  --crimson: rgba(218,26,64,1.0);
  --eerie-black: rgba(25,24,23,1.0);
  --ghost: rgba(203,203,209,1.0);
  --mercury: rgba(226,226,232,1.0);
  --pewter-blue: rgba(128,165,182,1.0);
  --stack: rgba(139,139,139,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(248,248,255,1.0);
}
