/* screen - tabbed-browsing-merch */

.border-1-5px-ghost {
  border: 1.5px solid var(--ghost);
}
.border-1px-eerie-black {
  border: 1px solid var(--eerie-black);
}
.raleway-black-crimson-20px {
  color: var(--crimson);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.raleway-bold-black-20px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-black-22px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.raleway-light-black-16px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.raleway-light-black-18px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.raleway-medium-black-14px {
  color: var(--black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.raleway-medium-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.raleway-normal-eerie-black-16px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.raleway-normal-eerie-black-20px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.raleway-semi-bold-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Raleway', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.tabbed-browsing-merch {
  align-items: center;
  background-color: var(--zircon);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 489px;
  overflow-x: hidden;
  padding: 8px 0;
  position: relative;
  width: 411px;
}
.tabbed-browsing-merch .beans-i53419642998-2t0yt9 {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 166px;
}
.tabbed-browsing-merch .beans-i53419662998-2onjXU {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 166px;
}
.tabbed-browsing-merch .beans-i53419672998-VbW3Xs {
  background-color: transparent;
  color: var(--zircon);
  flex-shrink: 1;
  font-family: 'Raleway', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 166px;
}
.tabbed-browsing-merch .beans-i53419682998-fxQQJw {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 166px;
}
.tabbed-browsing-merch .cold-brew-i53419653372537-DpzIGB {
  background-color: transparent;
  flex-shrink: 1;
  height: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 23px;
  position: relative;
  text-align: left;
  width: 166px;
}
.tabbed-browsing-merch .frame-1476-Swjalx {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 351px;
  padding: 4px 0;
  position: relative;
  width: 212px;
}
.tabbed-browsing-merch .frame-1525-C61RwL {
  align-items: flex-end;
  background-color: var(--zircon);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 66px;
  justify-content: flex-start;
  min-width: 411px;
  padding: 0.0px 85px;
  position: relative;
  width: auto;
}
.tabbed-browsing-merch .frame-1531-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 351px;
  justify-content: flex-start;
  margin-top: 0px;
  min-width: 212px;
  position: relative;
  width: auto;
}
.tabbed-browsing-merch .group-1420-UUN0E0 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 189px;
  min-width: 44px;
  position: absolute;
  top: 8px;
  transform: rotate(-90.00deg);
  width: auto;
}
.tabbed-browsing-merch .hamburgeritem-iaOJTp {
  background-color: transparent;
  flex-shrink: 1;
  height: 60px;
  position: relative;
  width: 241px;
}
.tabbed-browsing-merch .our-offerings-UUN0E0 {
  background-color: transparent;
  height: auto;
  left: 13px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  width: auto;
}
.tabbed-browsing-merch .polygon-10-2wyYJu {
  background-color: transparent;
  flex-shrink: 1;
  height: 14px;
  margin-bottom: -8.11px;
  position: relative;
  transform: rotate(90.00deg);
  width: 22px;
}
.tabbed-browsing-merch .tabdefault-PIw5MF {
  align-items: center;
  background-color: var(--aqua-island);
  border-radius: 24px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 55px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 212px;
  padding: 0 22px;
  position: relative;
  width: auto;
}
.tabbed-browsing-merch .tabdefault-qBAbfQ {
  align-items: center;
  background-color: var(--crimson);
  border-radius: 24px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 55px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 212px;
  padding: 0 22px;
  position: relative;
  width: auto;
}
.tabbed-browsing-merch .tabdefault-w75i9w {
  align-items: center;
  background-color: var(--aqua-island);
  border-radius: 24px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 55px;
  justify-content: flex-end;
  min-width: 212px;
  padding: 0 22px;
  position: relative;
  width: auto;
}
.tabbed-browsing-merch .tabdefault-yGAzmb {
  align-items: center;
  background-color: var(--aqua-island);
  border-radius: 24px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 55px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 212px;
  padding: 0 22px;
  position: relative;
  width: auto;
}
.tabbed-browsing-merch .tabfocused-w75i9w {
  align-items: center;
  background-color: var(--aqua-island);
  border-radius: 24px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 55px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 212px;
  padding: 0 22px;
  position: relative;
  width: auto;
}
:root {
  --aqua-island: rgba(165,202,220,1.0);
  --black: rgba(0,0,0,1.0);
  --crimson: rgba(218,26,64,1.0);
  --eerie-black: rgba(25,24,23,1.0);
  --ghost: rgba(203,203,209,1.0);
  --mercury: rgba(226,226,232,1.0);
  --pewter-blue: rgba(128,165,182,1.0);
  --stack: rgba(139,139,139,1.0);
  --white: rgba(255,255,255,1.0);
  --zircon: rgba(248,248,255,1.0);
}
